{% extends "hfcd/base_base.html" %}

{% block base_content %}

<div id="header">
    
    <div id="header_top">
    
        <div id="header_left">
        
            <a href="{% url "welcome" %}">
                {% if page_data %}
                    {{ page_data.header }}
                {% else %}
                    HIE of One Demo
                {% endif %}
            </a>
        
        </div>
        
        <div id="header_right">
            
            <a href="{% url 'help_docs' %}">Help</a>
            /
            <a href="{% url 'broken_link' %}">Return to Current Step</a>
            /
            
            {% if not user.is_authenticated %}
                <a href="{% url 'admin:login' %}">
                Admin</a>
            {% else %}
                {% comment %}
                    Welcome,
                    <b>{{ user.username }}</b>
                    /
                    <a href="{% url 'admin:logout' %}">
                    Log Out</a>
                    /
                    <a href="/admin/">Admin Console</a>
                {% endcomment %}
                <a href="/admin/">Admin Console</a>
            {% endif %}
        
        </div>
        
        <div class="clearfix">.</div>
    
    </div> <!-- #header_top -->
    
    <div id="header_bottom">
        
        <div id="header_breadcrumbs">
            
            {% block breadcrumbs %}
                breadcrumbs
            {% endblock breadcrumbs %}
        
        </div>
        
        <div class="clearfix">.</div>
    
    </div> <!-- #header_bottom -->
    
</div> <!-- #header -->

<div id="content">
    
    {% if page_data %}
        <div id="page_data_sidebar">
            <div id="pd_sidebar_top">About This Page:</div>
            
            <div id="pd_sidebar_content">
                {% if page_data.is_help %}
                    
                    This is a help page.
                    <br />
                    
                {% else %}
                    
                    <b>Current Server:</b> {{ page_data.server }}
                    <br />
                    
                    <b>Owner of Server:</b> {{ page_data.owner }}
                    <br />
                    
                {% endif %}
                
                {% if page_data.you_are %}
                    You are currently pretending to be <b>{{ page_data.you_are }}.</b>
                {% else %}
                    You are not pretending to be someone else.
                {% endif %}
                
                {% if page_data.curr_step %}
                    <br />
                    <b>Progress:</b> Step {{ page_data.curr_step }} of {{ page_data.total_steps }}
                    <br />
                    About the steps:
                    <a href="http://bit.ly/HEART-seq">http://bit.ly/HEART-seq</a>
                {% endif %}
            </div>
        </div> <!-- #page_data_sidebar -->
    {% endif %}
    
    {% block content %}{% endblock %}
    
</div> <!-- #content -->

{% endblock base_content %}
