{% extends "hfcd/base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'welcome' %}">Home</a>
    >
    {{ page_title }}
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ page_title }}</h1>

<div class="indent">

{% for term in terms %}
    <div class="define_one_term">
        <div class="definition_term">
            {{ term.0 }}:
        </div>
        
        <div class="definition_meaning">
            {{ term.1 }}
        </div>
    </div>
{% endfor %}

</div> <!-- div.indent -->

{% endblock content %}
