{% extends "hfcd/base.html" %}

{% block title %}HIE of One Demo: Welcome{% endblock %}

{% block breadcrumbs %}
    Home
{% endblock breadcrumbs %}


{% block content %}

<h1>Welcome to the HIE of One Demo for Future Commerce 2015</h1>

<div class="indent">

<p>
    Begin the demo here:
    <a href="{% url 'step01' %}">Step 1</a>.
</p>

<p>
    This explains the story taking place in the demo:
    <a href="{% url 'the_story' %}">The Story</a>.
</p>

<p>
    This page defines some terms:
    <a href="{% url 'definitions' %}">Helpful Definitions</a>.
</p>


{% if user.is_superuser %}
    <p>
        <a href="{% url 'debugging_links' %}">Debugging links.</a>
    </p>
{% endif %}


</div> <!-- div.indent -->

{% endblock content %}
